footer.panelhead2(style="padding:0;margin:0px -5px;max-height:30px;background-color:#fff;background-image:none;color:#069;")
  .container.text-center
    p.pull-left(style="color:#069 !important;max-width:100%;overflow:visible;margin-bottom:-5px;") © 2017 Lion Legal Products Inc. <em>Master the Jungle of Legal Information<sup><small style="font-size: 5px;">SM</small></sup></em> All Rights Reserved
    ul.pull-right.list-inline(style="margin-top:0px;position:absolute;right:0;")
      li
        a(href='/', class="btn",style="text-shadow:none;margin-top:-5px;") LexSpace&nbsp;&nbsp;<i class="fa fa-external-link"></i>
      li
        a(ng-click="clicked = !clicked", class="btn",style="text-shadow:none;margin-top:-5px;") Settings&nbsp;&nbsp;<i class="fa fa-cog"></i>
        pageslide(ps-open="clicked", ps-key-listener="true", ps-side="{{opts.side || 'bottom'}}", ps-class="btn-dark card-dark", ps-size="100%")
          uxwidget
