doctype html
html.html(data-ng-app=application, style="font-size:!{fontSize};font-family:'Helvetica',sans-serif !important;")
  block head
    head
      link(href="/llp_core/dist/app.full.min.css", rel="stylesheet")
      link(href='https://fonts.googleapis.com/css?family=Dosis', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/lexlab-starter/public/css/jquery.pageslide.css')
      link(rel='stylesheet',href='/llp_core/bower_components/angular-loading-bar/build/loading-bar.css')
      link(rel='stylesheet', href='/llp_core/node_modules/tether/dist/css/tether.css')
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css", rel="stylesheet")
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/tether-select/1.1.1/js/select.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js")
      script| var $ = new jQuery();
      script(src='https://apis.google.com/js/client.js')
      script(src='https://apis.google.com/js/api.js')
      script(src="https://cdn.firebase.com/js/client/2.4.0/firebase.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")     
      script(src='/llp_core/bower_components/angular-animate/angular-animate.min.js')
      script(src='/llp_core/bower_components/angular-loading-bar/build/loading-bar.js')
      script(src='/llp_core/node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js')
      script(src='/llp_core/bower_components/angular-ui-utils/highlight.js')
      script(src='/lexlab-starter/node_modules/angular-sanitize/angular-sanitize.min.js')
      script(src='/llp_core/node_modules/angular-file-upload/dist/angular-file-upload.js')
      script(src='/llp_core/bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.js')
      script(src='/llp_core/node_modules/angular-local-storage/dist/angular-local-storage.js')
      script(src='/llp_core/modules/pageslide/pageslide.js')
      script(src='/llp_core/bower_components/angularfire/dist/angularfire.min.js')
      script(src='/llp_core/bower_components/angular-xeditable/dist/js/xeditable.js')
      script(src='/llp_core/bower_components/angular-ui-tree/dist/angular-ui-tree.js')
      script(src='/llp_core/ngAnnotateText/ng-annotate-text-latest.js')
      script(src='/llp_core/bower_components/ngDialog/js/ngDialog.js')
      script(src='/llp_core/bower_components/angular-pdf-viewer/dist/angular-pdf-viewer.min.js')
      script(src='/llp_core/bower_components/angular-toastr/dist/angular-toastr.js')
      script(src='/llp_core/bower_components/ment.io/dist/mentio.js')
      script(src='/llp_core/bower_components/angular-diff/src/diff.filter.js')
      script(src='/llp_core/bower_components/angular-css/angular-css.js')
      script(src='/llp_core/bower_components/checklist-model/checklist-model.js')
      script(src='/getphdwidget/dist/adf-widget-getphd.js')
      script(src="/lexlab-starter/public/js/patentindex.js")
      script(src='/llp_core/modules/common_services/service/d3.js')
      script(src='/llp_core/modules/claimLab/directive/d3pendingtree.js')
      script(src='/llp_core/modules/common_services/filter/FireFilters.js')

   block body
     body(data-ng-controller=controller, class="dark-bg container-fluid row panel text-NOA" style="display:flex;flex-wrap:wrap;flex-basis:row;")
       block content
         div(ng-include="'/getphdwidget/src/phd/patentReport.html'", class="dashboard-container panel-body")  
        //-  div(ng-repeat="patent in patents")
           a(ng-click="pop(this)" uib-tooltip="{{patent.title}}")
             img.img.img-shadow(ng-src="/patents/US{{patent.id}}/preview",style="float:left;width:150px;height:150px;")

            
           